<div ng-cloak>
    <!--<div class="row">-->
    <div class="col-md-6">
        <span class="form-group">
        <span><h3>Filter by area:</h3></span>
        <select class="form-group form-control" ng-options="item as item for item in items" ng-model="filter" ng-change="vm.loadAll()"></select>
        </span>
    </div>
    <div class="col-md-12">
       <div class="col-md-4" ng-repeat="(key,data) in chartData">
           <div class="panel panel-info">
               <div class="panel-heading">{{data.title}}</div>
               <div class="panel-body">
                   <canvas id="pie" class="chart chart-pie"
                           chart-data="data.data" chart-labels="data.labels" chart-colors="data.colors">
                   </canvas>
               </div>
           </div>
       </div>
    </div>
    <!--</div>-->
</div>
